* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}


html {
  box-sizing: border-box;
  font-size: 62.5%;
}


body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, #ccc, #444);
  background-repeat: repeat;
}