
/*--------------------
BG image fon modern
--------------------*/
.bg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: url('https://images.unsplash.com/photo-1451186859696-371d9477be93?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925') no-repeat 0 0;
  filter: blur(80px);
  transform: scale(1.2);
}


/*--------------------
container main
--------------------*/

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 960px;
  height: 80vh;
  max-height: 600px;
  z-index: 2;
  overflow: hidden;
  box-shadow: 0 5px 30px rgba(0, 0, 0, .2);
  background: rgba(0, 0, 0, .5);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}


/*--------------------
Wrapper-nav: Search , Nav
--------------------*/

.wrapper-nav {
  float: left;
  flex: 0 1 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*--------------------
Wrapper-messages: Search , Nav
--------------------*/

.wrapper-messages {
  float: left;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}